body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

header {
    background: #4e73df;
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: white;
}

.btn {
    background: #4e73df;
    padding: 12px 25px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

.btn-sec {
    background: #1cc88a;
}

.botoes {
    margin-top: 25px;
}
