body {
    font-family: Arial, sans-serif;
}

#projetoInfo {
    padding: 20px;
}

.btn-doar {
    padding: 10px 20px;
    background: #1cc88a;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}
